<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코로나 API 테스트 페이지</title>
</head>
<body>
    <div style="display: flex; justify-content: space-between; padding: 20px 20px 20px 20px;">
        <div>
            <h1>카카오 지도</h1>
            <div id="map" style="width:500px;height:400px;"></div>
        </div>

        <div>
            <h1>국가·지역별 최신안전소식(코로나관련)</h1>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>국가</td>
                        <td>제목</td>
                        <td>날짜</td>
                    </tr>
                </thead>
                <tbody>
                    <% if(locals.safetyData) { %>
                        <% safetyData.forEach(item => { %>
                            <tr>
                                <td><%=item.id %></td>
                                <td><%=item.country %></td>
                                <td><%=item.title %></td>
                                <td><%=item.date %></td>
                            </tr>
                        <% }); %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <div style="display: flex; justify-content: space-between; padding: 20px 20px 20px 20px;">
        <div>
            <h1>코로나19 감염 현황</h1>
            <table>
                <thead>
                    <tr>
                        <td>seq</td>
                        <td>누적 확진율</td>
                        <td>확진자 수</td>
                        <td>사망자 수</td>
                        <td>검사 수</td>
                        <td>검사 진행 수</td>
                        <td>검사완료 수</td>
                        <td>결과 음성 수</td>
                        <td>치료 중 환자 수</td>
                        <td>격리 해제 수</td>
                        <td>등록일</td>
                    </tr>
                </thead>
                <tbody>
                    <% if(locals.infectionData) { %>
                        <% infectionData.forEach(item => { %>
                            <tr>
                                <td><%=item.seq %></td>
                                <td><%=item.acc_def_rate %></td>
                                <td><%=item.decide_cnt %></td>
                                <td><%=item.death_cnt %></td>
                                <td><%=item.acc_exam_cnt %></td>
                                <td><%=item.exam_cnt %></td>
                                <td><%=item.acc_exam_comp_cnt %></td>
                                <td><%=item.result_neg_cnt %></td>
                                <td><%=item.care_cnt %></td>
                                <td><%=item.clear_cnt %></td>
                                <td><%=item.create_dt %></td>
                            </tr>
                        <% }); %>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div>
            <h1>코로나19 연령, 성별감염 상황</h1>
            <table>
                <thead>
                    <tr>
                        <td>seq</td>
                        <td>구분</td>
                        <td>확진자</td>
                        <td>확진률</td>
                        <td>사망자</td>
                        <td>사망률</td>
                        <td>치명률</td>
                        <td>등록일</td>
                    </tr>
                </thead>
                <tbody>
                    <% if(locals.ageGenderData) { %>
                        <% ageGenderData.forEach(item => { %>
                            <tr>
                                <td><%=item.seq %></td>
                                <td><%=item.gubun %></td>
                                <td><%=item.conf_case %></td>
                                <td><%=item.conf_case_rate %></td>
                                <td><%=item.death %></td>
                                <td><%=item.death_rate %></td>
                                <td><%=item.critical_rate %></td>
                                <td><%=item.create_dt %></td>
                            </tr>
                        <% }); %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <div style="display: flex; justify-content: space-between; padding: 20px 20px 20px 20px;">
        <div>
            <h1>코로나19 시·도발생 현황</h1>
            <table>
                <thead>
                    <tr>
                        <td>seq</td>
                        <td>구분</td>
                        <td>누적 확진자 수</td>
                        <td>전일대비 증감 수</td>
                        <td>격리 해제 수</td>
                        <td>격리 환자 수</td>
                        <td>10만명당 발생률</td>
                        <td>국내발병 수</td>
                        <td>해외유입 수</td>
                        <td>사망자 수</td>
                    </tr>
                </thead>
                <tbody>
                    <% if(locals.cityData) { %>
                        <% cityData.forEach(item => { %>
                            <tr>
                                <td><%=item.seq %></td>
                                <td><%=item.gubun %></td>
                                <td><%=item.def_cnt %></td>
                                <td><%=item.inc_dec %></td>
                                <td><%=item.isol_clear_cnt %></td>
                                <td><%=item.isoling_cnt %></td>
                                <td><%=item.qur_rate %></td>
                                <td><%=item.local_occ_cnt %></td>
                                <td><%=item.over_flow_cnt %></td>
                                <td><%=item.death_cnt %></td>
                            </tr>
                        <% }); %>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div>
            <h1>코로나19 해외발생 현황</h1>
            <table>
                <thead>
                    <tr>
                        <td>seq</td>
                        <td>지역명</td>
                        <td>국가명</td>
                        <td>확진자 수</td>
                        <td>사망자 수</td>
                        <td>사망률</td>
                        <td>등록일</td>
                    </tr>
                </thead>
                <tbody>
                    <% if(locals.overseaData) { %>
                        <% overseaData.forEach(item => { %>
                            <tr>
                                <td><%=item.seq %></td>
                                <td><%=item.area_nm %></td>
                                <td><%=item.nation_nm %></td>
                                <td><%=item.nat_def_cnt %></td>
                                <td><%=item.nat_death_cnt %></td>
                                <td><%=item.nat_death_rate %></td>
                                <td><%=item.create_dt %></td>
                            </tr>
                        <% }); %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>


    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bab3d8cc60f04070a5fddb1bf106d195"></script>
    <script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(37.542056, 127.108212),
			level: 10
		};

		var map = new kakao.maps.Map(container, options);
	</script>
</body>
</html>