
<div class="content">
    <div class="py-4 px-3 px-md-4">
        <div class="card mb-3 mb-md-4">

            <div class="card-body">
                <!-- Breadcrumb -->
                <nav class="d-none d-md-block" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">
                                해외</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            코로나19 감염현황</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->

                <div class="mb-3 mb-md-4 d-flex justify-content-between">
                    <div class="h3 mb-0">
                        코로나19 감염현황</div>
                </div>


    <div>
        <div>
            <% var today = new Date().toISOString().substring(0, 10) %>
            <input type="date" id="start" name="start" value="<%=today %>" min="2020-10-01" max="<%=today %>">
            ~
            <input type="date" id="end" name="end" value="<%=today %>" min="2020-10-01" max="<%=today %>">
            <button id="search">검색</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>날짜</td>
                <td>누적 확진율</td>
                <td>확진자 수</td>
                <td>사망자 수</td>
                <td>검사 수</td>
                <td>검사 진행 수</td>
                <td>검사완료 수</td>
                <td>결과 음성 수</td>
                <td>치료 중 환자 수</td>
                <td>격리 해제 수</td>
            </tr>
        </thead>
        <tbody id="infectionList">            
            <% infection.forEach(item => { %>
                <tr>
                    <td><%=item.create_dt.toISOString().substring(0, 10) %></td>
                    <td><%=item.acc_def_rate %>%</td>
                    <td><%=item.decide_cnt %>명</td>
                    <td><%=item.death_cnt %>명</td>
                    <td><%=item.acc_exam_cnt %>명</td>
                    <td><%=item.exam_cnt %>명</td>
                    <td><%=item.acc_exam_comp_cnt %>명</td>
                    <td><%=item.result_neg_cnt %>명</td>
                    <td><%=item.care_cnt %>명</td>
                    <td><%=item.clear_cnt %>명</td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <nav class="d-flex justify-content-between align-items-center" aria-label="Page navigation example">
        <small class="text-muted">Showing <%=nowPage%> of <%=lastPage%></small>
        <ul class="pagination font-weight-semi-bold" id="paging">
            <% if (nowPage != 1){ %>
                <!-- 첫 페이지 -->
                <li class="page-item">
                    <a class="page-link" href="./infection?startPage=1&startTime=<%=startTime %>&endTime=<%=endTime %>" aria-label="Previous">
                        <i class="gd-angle-double-left icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <!-- 이전 페이지 -->
                <li class="page-item">
                    <a class="page-link" href="./infection?startPage=<%=parseInt(nowPage) - 1 %>&startTime=<%=startTime %>&endTime=<%=endTime %>" aria-label="Previous">
                        <i class="gd-angle-left icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            <% } %>
            
            <!-- 시작번호, 표시 마지막 번호를 위한 카운트 -->
            <% var first = 1, last = 5; %>        
            <!-- 현재 페이지가 4보다 크면 시작 번호 수정과 마자막 두번째 번호일 때 설정   -->
            <% if(nowPage >= 4) { %>
                <% first = nowPage - 2; %>
                <% if(nowPage >= lastPage - 2) { first = lastPage - 4; } %>
            <% } %>
            <!-- 전체 페이지 수가 5보다 작을 때 설정 -->
            <% if(lastPage < 5) { last = lastPage } %>
            <!-- 번호 5개만 표시 -->
            <% for(var i = first; i < first + last; i++ ) { 
                if(nowPage == i){ %>
                <li class="page-item disabled"><a class="page-link" href="./infection?startPage=<%=i %>&startTime=<%=startTime %>&endTime=<%=endTime %>"><%=i%></a></li>   
                <% } else { %>
                <li class="page-item"><a class="page-link" href="./infection?startPage=<%=i %>&startTime=<%=startTime %>&endTime=<%=endTime %>"><%=i%></a></li>   
                <% } %>
            <% } %>                
            
            <% if (nowPage != lastPage){ %> 
                <!-- 다음 페이지 -->
                <li class="page-item">
                    <a class="page-link" href="./infection?startPage=<%=parseInt(nowPage) + 1 %>&startTime=<%=startTime %>&endTime=<%=endTime %>" aria-label="Next">
                        <i class="gd-angle-right icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <!-- 마지막 페이지 -->
                <li class="page-item">
                    <a class="page-link" href="./infection?startPage=<%=parseInt(lastPage) %>&startTime=<%=startTime %>&endTime=<%=endTime %>" aria-label="Next">
                        <i class="gd-angle-double-right icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            <% } %>                
        </ul>
    </nav>


    <script>
        $('#search').on('click', () => {
            let start = $('#start').val();
            let end = $('#end').val();

            if(new Date(start) < new Date(end)) {
                var paramData = {
                    start: start,
                    end: end
                }
                
                $.ajax({
                    type : "POST",
                    url : "/covid/infectionSearch",
                    dataType : "json",
                    data : paramData,
                                            
                    success : (result) => {
                        var htmls = '';
                        var paging = '';
                        if(result.list.length > 0) {
                            // 검색 결과
                            result.list.forEach(e => {
                                htmls += '<tr>';
                                htmls += '<td>' + e.create_dt.substring(0, 10) + '</td>';
                                htmls += '<td>' + e.acc_def_rate + '%</td>';
                                htmls += '<td>' + e.decide_cnt + '명</td>';
                                htmls += '<td>' + e.death_cnt + '명</td>';
                                htmls += '<td>' + e.acc_exam_cnt + '명</td>';
                                htmls += '<td>' + e.exam_cnt + '명</td>';
                                htmls += '<td>' + e.acc_exam_comp_cnt + '명</td>';
                                htmls += '<td>' + e.result_neg_cnt + '명</td>';
                                htmls += '<td>' + e.care_cnt + '명</td>';
                                htmls += '<td>' + e.clear_cnt + '명</td>';
                                htmls += '</tr>';
                            });
                            
                            // 페이징 
                            if(result.lastPage > 1) {
                                var status = 'disabled';
                                var endNum = result.lastPage;
                                if(result.lastPage > 5) endNum = 5;

                                for(var i = 1; i <= endNum; i++) {
                                    if(i == 1) status = 'disabled';
                                    else status = '';
                                    paging += '<li class="page-item '+status+'"><a class="page-link" href="./infection?startPage=' + i + '&startTime=' + start + '&endTime=' + end + '">'+i+'</a></li>'; 
                                }
                                paging += '<li class="page-item"><a class="page-link" href="./infection?startPage=2&startTime=' + start + '&endTime=' + end + '"> > </a></li>';
                                paging += '<li class="page-item"><a class="page-link" href="./infection?startPage='+result.lastPage+'&startTime=' + start + '&endTime=' + end + '"> >> </a></li>';
                            } else {
                                paging += '<li class="page-item disabled"><a class="page-link" href="./infection?startPage=1&startTime=' + start + '&endTime=' + end + '">1</a></li>'; 
                            }
                                
                        } else {
                            htmls += '<div style="text-align: center;"><h3>데이터가 없습니다.</h3></div>';
                        }
                        $('#infectionList').html(htmls);
                        $('#paging').html(paging);
                    },
                    
                    error : () => {
                        console.log("실패")
                    }
                });
            } else {
                alert('시작 날짜가 마지막 날짜보다 미래입니다.');
            }
        });
    </script>

    
</div>
</div>
