<div class="content">
    <div class="py-4 px-3 px-md-4">
        <div class="card mb-3 mb-md-4">

            <div class="card-body">
                <!-- Breadcrumb -->
                <nav class="d-none d-md-block" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">국내현황</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">긴급 재난 문자</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->

                <div class="mb-3 mb-md-4 d-flex justify-content-between">
                    <div class="h3 mb-0">긴급 재난 문자</div>
                </div>

                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="font-weight-semi-bold border-top-0 py-2">순번</th>
                            <th class="font-weight-semi-bold border-top-0 py-2">발신시간</th>
                            <th class="font-weight-semi-bold border-top-0 py-2">지역</th>
                            <th class="font-weight-semi-bold border-top-0 py-2">메시지</th>
                            <th class="font-weight-semi-bold border-top-0 py-2">배포자</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% post.forEach(item => { %>
                        <tr>
                            <td class="py-3"><%=item.md101_sn %></td>
                            <td class="py-3"><%=item.create_date %></td>
                            <td class="py-3"><%=item.location_name %></td>
                            <td class="py-3"><%=item.msg %></td>
                            <td class="py-3"><%=item.send_platform %></td>
                        </tr>
                    <% }); %>   
                    </tbody>
                    </table>
    
       
                    <!-- 현재 페이지, 토탈페이지, 페이지 1,2,3.. 해줭-->
                    <nav class="d-flex justify-content-between align-items-center" aria-label="Page navigation example">
                        <small class="text-muted">Showing <%=nowPage %> of <%=lastPageNum%></small>
                        <ul class="pagination font-weight-semi-bold">
                            <% if(start) { %>
                                <li class="page-item">
                                    <a class="page-link" href="../covid/sms?startPage=<%=parseInt(nowPage) - 1 %>" aria-label="Previous">
                                        <i class="gd-angle-left icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
    
                                    </a>
                                </li>
                            <% } %>
                                &nbsp;
                            <% if(end) { %>
                                <li class="page-item">
                                    <a class="page-link" href="../covid/sms?startPage=<%=parseInt(nowPage) + 1 %>" aria-label="Next">
                                        <i class="gd-angle-right icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>

            </div>

        </div>
    </div>