
<div class="content">
    <div class="py-4 px-3 px-md-4">
        <div class="card mb-3 mb-md-4">

            <div class="card-body">
                <!-- Breadcrumb -->
                <nav class="d-none d-md-block" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">해외</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">세계지역 검색</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->

                <div class="mb-3 mb-md-4 d-flex justify-content-between">
                    <div class="h3 mb-0">코로나19 세계지역 검색</div>
                </div>
            

    <div>
        <div>
            <% var today = new Date().toISOString().substring(0, 10) %>
            <select id="area" style="width: 120px;">
                <option value="null">--------------------</option>
                <% for(var i = 0; i < areaSelect.length; i++) {%>
                    <option value="<%=areaSelect[i] %>"><%=areaSelect[i] %></option>
                <% } %>
            </select>
            <select id="nation" style="width: 200px;">
                <option value="null">------------------------------------</option>
                <% for(var i = 0; i < nationSelect.length; i++) {%>
                    <option value="<%=nationSelect[i] %>"><%=nationSelect[i] %></option>
                <% } %>
            </select>
            <input type="date" id="start" name="start" value="<%=today %>" min="2020-10-01" max="<%=today %>">
            ~
            <input type="date" id="end" name="end" value="<%=today %>" min="2020-10-01" max="<%=today %>">
            <button id="search">검색</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>지역명</td>
                <td>국가명</td>
                <td>확진자 수</td>
                <td>사망자 수</td>
                <td>사망률</td>
                <td>등록일</td>
            </tr>
        </thead>
        <tbody id="overseaoutList">            
            <% overseaout.forEach(item => { %>
                <tr>
                    <td><%=item.area_nm %></td>
                    <td><%=item.nation_nm %></td>
                    <td><%=item.nat_def_cnt %>명</td>
                    <td><%=item.nat_death_cnt %>명</td>
                    <td><%=item.nat_death_rate %>%</td>
                    <td><%=item.create_dt.toISOString().substring(0, 10) %></td>                    
                </tr>
            <% }); %>
        </tbody>
    </table>

    <nav class="d-flex justify-content-between align-items-center" aria-label="Page navigation example">
        <small class="text-muted">Showing <%=nowPage%> of <%=lastPage%></small>
        <ul class="pagination font-weight-semi-bold" id="paging">
            <% if (nowPage != 1){ %>
                <!-- 첫 페이지 -->
                <li class="page-item">
                    <a class="page-link" href="./overseaout?startPage=1&startTime=<%=startTime %>&endTime=<%=endTime %>&area=<%=area %>&nation=<%=nation %>" aria-label="Previous">
                        <i class="gd-angle-double-left icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <!-- 이전 페이지 -->
                <li class="page-item">
                    <a class="page-link" href="./overseaout?startPage=<%=parseInt(nowPage) - 1 %>&startTime=<%=startTime %>&endTime=<%=endTime %>&area=<%=area %>&nation=<%=nation %>" aria-label="Previous">
                        <i class="gd-angle-left icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            <% } %>
            
            <!-- 시작번호, 표시 마지막 번호를 위한 카운트 -->
            <% var first = 1, last = 5; %>        
            <!-- 현재 페이지가 4보다 크면 시작 번호 수정과 마자막 두번째 번호일 때 설정   -->
            <% if(nowPage >= 4) { %>
                <% first = nowPage - 2; %>
                <% if(nowPage >= lastPage - 2) { first = lastPage - 4; } %>
            <% } %>
            <!-- 전체 페이지 수가 5보다 작을 때 설정 -->
            <% if(lastPage < 5) { last = lastPage } %>
            <!-- 번호 5개만 표시 -->
            <% for(var i = first; i < first + last; i++ ) { 
                if(nowPage == i){ %>
                <li class="page-item disabled"><a class="page-link" href="./overseaout?startPage=<%=i %>&startTime=<%=startTime %>&endTime=<%=endTime %>&area=<%=area %>&nation=<%=nation %>"><%=i%></a></li>   
                <% } else { %>
                <li class="page-item"><a class="page-link" href="./overseaout?startPage=<%=i %>&startTime=<%=startTime %>&endTime=<%=endTime %>&area=<%=area %>&nation=<%=nation %>"><%=i%></a></li>   
                <% } %>
            <% } %>                
            
            <% if (nowPage != lastPage){ %> 
                <!-- 다음 페이지 -->
                <li class="page-item">
                    <a class="page-link" href="./overseaout?startPage=<%=parseInt(nowPage) + 1 %>&startTime=<%=startTime %>&endTime=<%=endTime %>&area=<%=area %>&nation=<%=nation %>" aria-label="Next">
                        <i class="gd-angle-right icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <!-- 마지막 페이지 -->
                <li class="page-item">
                    <a class="page-link" href="./overseaout?startPage=<%=parseInt(lastPage) %>&startTime=<%=startTime %>&endTime=<%=endTime %>&area=<%=area %>&nation=<%=nation %>" aria-label="Next">
                        <i class="gd-angle-double-right icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            <% } %>                
        </ul>
    </nav>


    <script>        
        $('#search').on('click', () => {
            let start = $('#start').val();
            let end = $('#end').val();
            let area = ($('#area option:selected').val() == 'null') ? '' : $('#area option:selected').val();
            let nation = ($('#nation option:selected').val() == 'null') ? '' : $('#nation option:selected').val();

            if(new Date(start) <= new Date(end)) {
                var paramData = {
                    start: start,
                    end: end,
                    area: area,
                    nation: nation
                }
                
                $.ajax({
                    type : "POST",
                    url : "/covid/overseaoutSearch",
                    dataType : "json",
                    data : paramData,
                                            
                    success : (result) => {
                        var htmls = '';
                        var paging = '';
                        if(result.list.length > 0) {
                            // 검색 결과
                            result.list.forEach(e => {
                                htmls += '<tr>';
                                htmls += '<td>' + e.area_nm + '</td>';
                                htmls += '<td>' + e.nation_nm + '</td>';
                                htmls += '<td>' + e.nat_def_cnt + '명</td>';
                                htmls += '<td>' + e.nat_death_cnt + '명</td>';
                                htmls += '<td>' + e.nat_death_rate + '%</td>';
                                htmls += '<td>' + e.create_dt.substring(0, 10) + '</td>';                                
                                htmls += '</tr>';
                            });
                            
                            // 페이징 
                            if(result.lastPage > 1) {
                                var status = 'disabled';
                                var endNum = result.lastPage;
                                if(result.lastPage > 5) endNum = 5;

                                for(var i = 1; i <= endNum; i++) {
                                    if(i == 1) status = 'disabled';
                                    else status = '';
                                    paging += '<li class="page-item '+status+'"><a class="page-link" href="./overseaout?startPage=' + i + '&startTime=' + start + '&endTime=' + end + '&area=' + area + '&nation=' + nation + '">'+i+'</a></li>'; 
                                }
                                paging += '<li class="page-item"><a class="page-link" href="./overseaout?startPage=2&startTime=' + start + '&endTime=' + end + '&area=' + area + '&nation=' + nation + '"> > </a></li>';
                                paging += '<li class="page-item"><a class="page-link" href="./overseaout?startPage='+result.lastPage+'&startTime=' + start + '&endTime=' + end + '&area=' + area + '&nation=' + nation + '"> >> </a></li>';
                            } else {
                                paging += '<li class="page-item disabled"><a class="page-link" href="./overseaout?startPage=1&startTime=' + start + '&endTime=' + end + '&area=' + area + '&nation=' + nation + '">1</a></li>'; 
                            }
                                
                        } else {
                            htmls += '<div style="text-align: center;"><h3>데이터가 없습니다.</h3></div>';
                        }
                        $('#overseaoutList').html(htmls);
                        $('#paging').html(paging);
                    },
                    
                    error : () => {
                        console.log("실패")
                    }
                });
            } else {
                alert('시작 날짜가 마지막 날짜보다 미래입니다.');
            }
        });

        $('#area').on('change', () => {
            let key = $('#area option:selected').val();
            $.ajax({
                type : "POST",
                url : "/covid/overseaAreaGroup",
                dataType : "json",
                data : { key: key },
                                        
                success : (result) => {

                    if(result.list.length > 0) {
                        var htmls = '<option value="null">------------------------------------</option>';
                        result.list.forEach(e => {
                            htmls += '<option value="' + e.nation_nm + '">' + e.nation_nm + '</option>'
                        });

                        $('#nation').html(htmls);
                    }
                },

                error : () => {
                    console.log("실패")
                }
            });
        });



    </script>

    
    </div>
</div>
