<div class="content">
    <div class="py-4 px-3 px-md-4">
        <div class="card mb-3 mb-md-4">

            <div class="card-body">
                <!-- Breadcrumb -->
                <nav class="d-none d-md-block" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">
                                <%=type %> 게시판</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <%=type %> Boards register</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->

                <div class="mb-3 mb-md-4 d-flex justify-content-between">
                    <div class="h3 mb-0">
                        <%=type %> Boards register</div>
                </div>

                <!-- Form -->
                <div>
                    <form action="./<%=type %>" method="POST">
                        <input type="hidden" name="type" value="<%=type %>">
                        <div class="form-row">
                            <div class="form-group col-12 col-md-12">
                                <label for="title">글제목</label>
                                <input class="form-control" id="title" type="text" name="title" aria-describedby="titleHelp" placeholder="제목입력">
                                <small id="titleHelp" class="form-text text-muted">함께지켜나가는 에티켓, 당신이 아름답습니다.</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12 col-md-12">
                                <label for="summernote">글내용</label>
                                <textarea class="form-control" id="summernote" name="content"></textarea>
                            </div>
                        </div>
                        <a href="../<%=type %>?startPage=1" class="btn btn-secondary">목록으로</a>
                        <button type="submit" class="btn btn-primary float-right">글등록</button>
                    </form>
                </div>
                <!-- End Form -->
            </div>
        </div>


    </div>

    <!-- summernote js -->
    <script src="/js/summernote.js"></script>

    <script>
        var uploadImageFile = (file, editor) => {
            data = new FormData();
            data.append("file", file);
            $.ajax({ // ajax를 통해 파일 업로드 처리
                data : data,
                dataType : "json",
                type : "POST",
                url : "/file/fileUpload",
                enctype: "multipart/form-data",
                cache : false,
                contentType : false,
                processData : false,
                
                success : (data) => { // 처리가 성공할 경우
                    // 에디터에 이미지 출력
                    $('#summernote').summernote('insertImage', data.url);	        	
                }
            });
        }	

        var deleteImageFile = (src) => {    
            console.log(src)        
            $.ajax({ // ajax를 통해 파일 삭제 처리
                type : "POST",
                url : "/file/fileDelete",
                dataType : "json",
                data : {src: src},
                
                success : (data) => {
                    console.log('삭제');	        	
                }
            });
        }
    </script>