<div class="content">
    <div class="py-4 px-3 px-md-4">
        <div class="card mb-3 mb-md-4">

            <div class="card-body">
                <!-- Breadcrumb -->
                <nav class="d-none d-md-block" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">
                                해외</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            최신안전소식</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->

                <div class="mb-3 mb-md-4 d-flex justify-content-between">
                    <div class="h3 mb-0">
                        최신안전소식</div>
                </div>
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="font-weight-semi-bold border-top-0 py-2">나라</th>
                        <th class="font-weight-semi-bold border-top-0 py-2">제목</th>
                        <th class="font-weight-semi-bold border-top-0 py-2">날짜</th>
                    </tr>
                </thead>
                <tbody>
                <% post.forEach(item => { %>
                    <tr>
                        <td class="py-3"><%=item.country %></td>
                        <td class="py-3"><a href="/test/safeContent?id=<%=item._id %>"><%=item.title %></a></td>
                        <td class="py-3"><%=item.create_dt.toISOString().substring(0, 10) %></td>
                    </tr>
                <% }); %>   
                </tbody>
                </table>

   
                <!-- 현재 페이지, 토탈페이지, 페이지 1,2,3.. 해줭-->
                <nav class="d-flex justify-content-between align-items-center" aria-label="Page navigation example">
                    <small class="text-muted">Showing [now page] of [total page count]</small>
                    <ul class="pagination font-weight-semi-bold">
                        <% if(start) { %>
                            <li class="page-item">
                                <a class="page-link" href="/test/safePaging?startPage=<%=parseInt(nowPage) - 1 %>" aria-label="Previous">
                                    <i class="gd-angle-left icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>

                                </a>
                            </li>
                        <% } %>
                            &nbsp;
                        <% if(end) { %>
                            <li class="page-item">
                                <a class="page-link" href="/test/safePaging?startPage=<%=parseInt(nowPage) + 1 %>" aria-label="Next">
                                    <i class="gd-angle-right icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </nav>


</div>
</div>
