<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <br><br><hr>
    <textarea class="form-control" id="content" name="content" style="width:100%;" rows="2" placeholder="댓글 입력"></textarea>
    <br>
    
    <button id="cancel" class="btn btn-soft-danger float-right">취소</button>
    <button id="enter" class="btn btn-soft-secondary mr-3 float-right">댓글달기</button>
    <br><br>

    <hr>

    <div id='replyList'>    
        <% if(Object.keys(reply).length > 0) { %>  
            <% reply.forEach(item => { %>  
                <div class="card-body p-2" style="border: 1px slategrey solid; border-radius: 5px;">
                    <div class="d-flex">
                        <div style="flex-grow: 2; text-align: center;">
                            <div class="mr-md-2 avatar-placeholder">
                                <i class="gd-user"></i>
                            </div><br>
                            <%=item.writer.name %>
                        </div>
                        <div style="flex-grow: 100;"><%-item.content %></div>                        
                        <% if(loginUser) { %>
                            <% if(item.writer.email == loginUser.email) { %>
                                <div class="dropdown float-right" style="flex-grow: 0.1; text-align: right;">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="gd-settings"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" onclick="fn_replyModify()">수정</a>
                                        <a class="dropdown-item" onclick="fn_replyDelete('<%=item._id %>')">삭제</a>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>  
                <br>   
            <% }); %>   
        <% } else { %>
            <div style="text-align: center;">
                <h3>댓글이 없습니다.</h3>
            </div>
        <% } %>
    </div>

    <script>

        $('#enter').on('click', ()=> {
            if($('#content').val() == '') {
                alert('댓글을 입력해 주세요.');
            } else {
                if('<%-JSON.stringify(loginUser)%>' != ''){
                    let user = JSON.parse('<%-JSON.stringify(loginUser)%>');
                    let board_id = '<%-board._id%>';
                    
                    var paramData = {
                        content: $('#content').val(),
                        id: board_id,
                        email: user.email,
                        name: user.name
                    }

                    $.ajax({
                        type : "POST",
                        url : "/reply/insertReply",
                        dataType : "json",
                        data : paramData,
                                                
                        success : (result) => {
                            if(result.status == 'OK')
                                fn_replyList(board_id);                                                            
                        },
                        
                        error : () => {
                            console.log("실패")
                        }
                    });
                    $('#content').val('');
                } else {
                    alert('로그인 후 댓글 작성이 가능합니다.');
                }
            }
        });
        
        $('#cancel').on('click', () => {
            $('#content').val('');
        });

        var fn_replyDelete = (reply_id) => {
            let board_id = '<%-board._id%>';
            var paramData = {
                reply_id: reply_id,
                board_id: board_id
            };
            $.ajax({
                type : "DELETE",
                url : "/reply/deleteReply",
                dataType : "json",
                data : paramData,
                                        
                success : (result) => { 
                    if(result.status == 'OK')
                        fn_replyList(board_id);
                }, 

                error : () => {
                    console.log("실패")
                }
            });
        };


        var fn_replyList = (board_id) => {
            $.ajax({
                type : "POST",
                url : "/reply/listReply",
                dataType : "json",
                data : {id: board_id},
                                        
                success : (result) => {
                    var htmls = '';
                    if(result.replies.length > 0) {                                
                        let user = JSON.parse('<%-JSON.stringify(loginUser)%>');                        
                        result.replies.forEach(e => {
                            htmls += '<div class="card-body p-2" style="border: 1px slategrey solid; border-radius: 5px;">';
                            htmls += '<div class="d-flex">';
                            htmls += '<div style="flex-grow: 2; text-align: center;">';
                                
                            htmls += '<div class="mr-md-2 avatar-placeholder">';
                            htmls += '<i class="gd-user"></i>';
                            htmls += '</div><br>' + e.writer.name + '</div>';

                            htmls += '<div style="flex-grow: 100;">' + e.content + '</div>';
                            
                            if(user.email == e.writer.email) {
                                htmls += '<div class="dropdown float-right" style="flex-grow: 0.1; text-align: right;">';
                                htmls += '<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">';
                                htmls += '<i class="gd-settings"></i>';
                                htmls += '</button>';
                                htmls += '<div class="dropdown-menu">';
                                htmls += '<a class="dropdown-item">수정</a>';
                                htmls += '<a class="dropdown-item" onclick="fn_replyDelete(\'' + e._id + '\')">삭제</a>';
                                htmls += '</div>';
                                htmls += '</div>';
                            }

                            htmls += '</div>';
                            htmls += '</div>';
                            htmls += '<br>';
                        });

                    } else {
                        htmls += '<div style="text-align: center;"><h3>댓글이 없습니다.</h3></div>';
                    }
                    $('#replyList').html(htmls);
                },
                
                error : () => {
                    console.log("실패")
                }
            });
        }

    </script>

</body>
</html>