<div class="content">
    <div class="py-4 px-3 px-md-4">
        <div class="card mb-3 mb-md-4">

            <div class="card-body">
                <!-- Breadcrumb -->
                <nav class="d-none d-md-block" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">
                                <%=type %> 게시판</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <%=type %> Boards register</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->

                <div class="mb-3 mb-md-4 d-flex justify-content-between">
                    <div class="h3 mb-0">
                        <%=type %> Boards register</div>
                </div>

                <!-- Form -->
                <div>
                    <form action="./<%=type %>" method="POST">
                        <input type="hidden" name="type" value="<%=type %>">
                        <div class="form-row">
                            <div class="form-group col-12 col-md-12">
                                <label for="title">글제목</label>
                                <input class="form-control" id="title" type="text" name="title" aria-describedby="titleHelp" placeholder="제목입력">
                                <small id="titleHelp" class="form-text text-muted">함께지켜나가는 에티켓, 당신이 아름답습니다.</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12 col-md-12">
                                <label for="summernote">글내용</label>
                                <textarea class="form-control" id="summernote" name="content"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary float-right">글등록</button>
                    </form>
                </div>
                <!-- End Form -->
            </div>
        </div>


    </div>

    <!-- summernote js -->
    <script src="/js/summernote.js"></script>